.progress-height{
    height: 24px !important; 
    font-size: 1rem !important;
}

.custom-file-label::after{
    color:#fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}